.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
}

.main h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.form label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.form input,
.form select,
.form textarea,
.form input[type="file"] + label,
.form button {
    width: 100%;
    padding: 12px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form input[type="file"] + label {
    background-color: #333;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.form input[type="file"] + label:hover {
    background-color: #444;
}

.form input[type="file"] + label:active,
.form input[type="file"] + label:focus {
    background-color: #555;
    outline: none;
}

.form .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.form .time input {
    width: 30%;
    text-align: center;
    color: limegreen;
    font-size: 1rem;
}

.form .imageLarge {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.form .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.form .time input:focus {
    outline: 2px solid limegreen;
}

.form .time input::placeholder {
    color: lawngreen;
}

.form .time span {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
    transition: opacity 1s ease-in-out;
    animation: blink 1s infinite;
}

.form .time ~ p {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: red;
    margin-top: 1rem;
}

.form textarea {
    min-height: 100px;
    resize: vertical;
}

.form button {
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #444;
}

.form button:active {
    background-color: #555;
}

.form button:focus {
    outline: none;
    background-color: #555;
}

.form button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
